body {
	background-color: #0f349c;
	font-family: calibri;
}
h1 {
	color: White;
	text-align: center;
}
img {
	width: 150px;
	cursor: pointer;
}
table, td {
	border: 2px solid #ce1581;
	margin: auto;
	border-radius: 5px;
}

.fa-heart {
	color: red !important;
}